
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#sidebar {
    position: absolute;
    min-width: 250px;
    max-width: 250px;
    top: 56px;
    height: calc(100% - 56px);
    background: #343a40;
    color: #fff;
    overflow: auto;
    transition: all 0.3s;
    margin-left: -250px;
}

#sidebar.active {
    margin-left: 0;
}

.sidebar-header h3 {
    padding-left: 16px;
    font-size: 1.0em;
}

#sidebar div {
/*    border: solid black 1px;*/
}

#map {
    position: absolute;
    top: 56px;
    left: 250px;
    height: calc(100% - 56px);
    width: calc(100% - 250px);
    transition: all 0.3s;
}

#map.active {
    left: 0px;
    width: 100%;
}

.filter {
    padding: 8px;
}

#locations-list {
    list-style: none;
}